.main {
  min-height: 100vh;
}

.main h1 {
  font-size: 3em;
  font-weight: bold;
  color: black;
}

.description {
  line-height: 1.5;
  font-size: 1.2em;
}

.footer {
  display: flex;
  flex: 1;
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}


.bixcip_list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  max-height: 800px;
  overflow-y: scroll;
}

.bixcip_item {
  display: flex;
  flex-direction: column;
  padding-right: 4rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
  width: 350px;
}

.bixcip_img_frame {
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1rem;
}

.bixcip_title_frame {
  display: flex;
  justify-content: space-between;
}

.bixcip_title_frame>input {
  height: 25px;
  width: 25px;
  accent-color: #788896;
}